.dashboard{
    padding: 2rem 3rem;
    font-family: 'Roboto',sans-serif;
}
.admin-title{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logout{
    padding:1rem;
    background:#2f7693;
    border-radius: .2rem;
    color:white;
    cursor: pointer;
}
.avater-img{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    object-fit: cover;
}
.action{
    display: flex;
    gap: .8rem;
}
.actionImg{
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}
@media(max-width:600px){
    .dashboard{
        padding: 2rem;
    }
}